body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  header {
    padding: 1px;
    padding-top: 10px;
    height: 100px;
    background: #25b6b3;
    display: flex;
  }
  
  header .logo {
      width: 100px;
      height: 100px; 
      margin-left: 8%;

  }
  .header-title {
    color: #f0f0f0;
   
    font-size: 2.3rem;
  }
  
  article {
    width: 80%;
    margin-top: 6%;
    margin-left: 8%;
  }
  
  article h2 {
    margin: 0;
  }
  
  article p {
    margin: 2px 0;
  }
  
  .navigation {
    margin: 0;
    padding: 10px 0;
    height: 35px;
    font-size: 30px;
    background: #134544;
  }
  
  .navigation a {
    margin-left: 8%;
    font-size: 1.3rem;
    text-decoration: none;
    color: #fafafa;
  }
  
  img {
    width: 100%;
  }

  
  #contactus {
    padding: 10px;
    width: 80%;
    margin: 40px auto;
    background: #25b6b3;
    color: #fafafa;
    text-align: center;
    font-family: sans-serif;
  }
  
  label {
    display: block;
    margin: 15px 0 0 0;
  }
  
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  input {
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    margin-top: 5px;
  }
  
  textarea {
    resize: none;
    width: 100%;
  }
  
  form button {
    display: block;
    margin: 40px auto;
    background: #25b6b3;
    border: none;
    padding: 10px 35px;
    color: #fafafa;
    font-size: 20px;
  }
  